@font-face {
  font-family: "Calibri";
  src: url("../../fonts/Calibri.woff2") format("woff2"), url("../../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("../../fonts/Calibri-Bold.woff2") format("woff2"), url("../../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bank Gothic";
  src: url("../../fonts/BankGothicBTLightRegular.woff2") format("woff2"), url("../../fonts/BankGothicBTLightRegular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bank Gothic";
  src: url("../../fonts/BankGothicBTMediumRegular.woff2") format("woff2"), url("../../fonts/BankGothicBTMediumRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-Bold.woff2") format("woff2"), url("../../fonts/Jura-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-Medium.woff2") format("woff2"), url("../../fonts/Jura-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-Light.woff") format("woff2"), url("../../fonts/Jura-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Light.woff2") format("woff2"), url("../../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-SemiBold.woff2") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.woff2") format("woff2"), url("../../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dune Rise";
  src: url("../../fonts/Dune_Rise.woff2") format("woff2"), url("../../fonts/Dune_Rise.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.button {
  background: var(--bs-primary-red);
  line-height: 30px;
  text-align: center;
  padding: 6px 24px;
  display: inline-block;
  outline: none;
  border: 1px solid var(--bs-primary-red);
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 8px;
  color: var(--bs-white);
  font-family: calibri;
  font-size: 16px;
  line-height: 29px;
}
.button_bgtransparent {
  border: 1px solid var(--bs-primary-red);
  background: transparent;
}
.button_rounded {
  border-radius: 25px;
}
.button_primary {
  background: radial-gradient(50% 50% at 50% 50%, #f37c7e 0%, #ea3f42 100%);
  padding: 10px 25px;
  box-shadow: 0px -5.72px 2.86px 0px rgba(0, 0, 0, 0.2509803922) inset;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background: url("../images/wave-red-lines-light.jpg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.heading_brdr {
  padding: 1px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -1.36%, #ff0000 77.38%);
  width: 48px;
}

.fontInter {
  font-family: "Inter";
}

.fontBankGothic {
  font-family: "Bank Gothic";
}

.fontCalibri {
  font-family: "Calibri";
}

.fontDune {
  font-family: "Dune Rise";
}

.fontPoppins {
  font-family: "Poppins";
}

.fontBold {
  font-weight: bold;
}

.font600 {
  font-weight: 600;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.common_font {
  font-size: 1.125rem;
  line-height: 27px;
}

.blueprint_container .card {
  border-radius: 50px;
  border: 1px solid var(--bs-white);
  padding: 30px;
  background: url("../../images/cad_paperbackbg.png") no-repeat center;
  position: relative;
}
.blueprint_container .card .heart_sec {
  position: absolute;
  right: 22px;
  width: 26px;
  height: 22px;
  top: 30px;
}
.blueprint_container .card .img-container {
  width: 280px;
  height: 374px;
}
.blueprint_container .card .card_heading {
  font-size: 1.313rem;
  line-height: 32px;
  color: var(--bs-white);
  padding: 21px 0 0 0;
}
.blueprint_container .card .card_subheading span {
  font-size: 0.875rem;
}
.blueprint_container .card .free_star_box {
  align-items: end;
  gap: 20px;
  padding: 12px 0 19px 0;
}
.blueprint_container .card .free_star_box .free_ship_txt {
  font-size: 0.813rem;
  font-weight: 600;
}
.blueprint_container .card .paper_strike {
  display: flex;
  gap: 14px;
}
.blueprint_container .card .paper_strike .paper_back_box {
  border: 1px solid rgba(var(--rgb-orange), 0.62);
  border-radius: 10px;
  padding: 5px 13px;
}
.blueprint_container .card .paper_strike .paper_back_box.paper_back_blue {
  border-color: var(--bs-blue);
}
.blueprint_container .card .paper_strike .paper_back_box.paper_back_blue p {
  color: var(--bs-blue);
}
.blueprint_container .card .paper_strike .paper_back_box p {
  color: var(--bs-Yellow);
}

.a_bgtransparent {
  border: 1px solid var(--bs-white);
  border-radius: 25px;
  line-height: 26px;
  padding: 4px 22px;
  margin-top: 41px;
}

header {
  padding: 25px 25px 0 25px;
}
header .nav-bar {
  position: fixed;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(115, 115, 115, 0.39) 100%);
  width: calc(100% - 50px);
  z-index: 1;
  left: 25px;
  padding-right: 25px;
  border-radius: 13px;
}
header .nav-bar .menu-ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  gap: 50px;
}
header .nav-bar .menu-ul li {
  line-height: 29px;
}
header .nav-bar .menu-ul li a {
  font-family: calibri;
  font-size: 16px;
  color: var(--bs-white);
}
header .nav-bar .menu-cart {
  gap: 40px;
}

.main_content {
  padding-top: 128px;
}

footer {
  background: url("../../images/footerbg.jpg") no-repeat;
  margin-top: 133px;
}
footer .footer_section {
  position: relative;
}
footer .footer_section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #000;
}
footer .footer_section_container {
  position: relative;
}
footer .footer_section .footer_wrap {
  padding-top: 83px;
}
footer .footer_section .footer_wrap .footer_sec {
  position: relative;
  color: var(--bs-white);
}
footer .footer_section .footer_wrap .footer_sec h4 {
  font-size: 1.563rem;
  line-height: 34px;
  margin-bottom: 21px;
  font-family: "Jura";
  font-weight: 500;
}
footer .footer_section .footer_wrap .footer_sec p {
  font-weight: 300;
}
footer .footer_section .footer_wrap .footer_sec ul li {
  margin-bottom: 20px;
}
footer .footer_section .footer_wrap .footer_sec ul li a {
  color: var(--bs-white);
  text-decoration: none;
  font-family: "Inter";
}
footer .footer_section .footer_brder {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -1.36%, #ff0000 49.33%, rgba(0, 0, 0, 0) 100.03%);
  width: 100%;
  padding-top: 6px;
}
footer .footer_section .social_media_ul {
  display: flex;
  gap: 22px;
}
footer .footer_section .footer_lt {
  margin-bottom: 23px;
}
footer .footer_section .footer_lt .logo {
  padding-bottom: 40px;
}
footer .footer_section .footer_lt_para {
  font-size: 1.063rem;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "Inter";
}
footer .footer_section .img-box {
  background: var(--bs-white);
  width: 25px;
  height: 25px;
}
footer .stay_connected ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 23px;
}
footer .footer_bottom {
  position: relative;
  padding-top: 35px;
}
footer .footer_bottom .exclusive_offer {
  color: var(--bs-white);
  font-size: 0.875rem;
  line-height: 20.74px;
  font-family: "inter";
  font-weight: 300;
  padding-bottom: 28px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--bs-red);
}
footer .footer_bottom .copy_right {
  padding: 0;
}
footer .footer_bottom .copy_right h5 {
  font-size: 0.875rem;
  color: var(--bs-white);
}
footer .footer_bottom .copy_right ul {
  gap: 60px;
}
footer .footer_bottom .copy_right ul li {
  font-size: 0.875rem;
  color: var(--bs-white);
}

.achieve_best {
  padding-top: 193px;
}
.achieve_best h2 {
  font-family: "Bank Gothic";
  font-size: 5.625rem;
  line-height: 77%;
  margin-bottom: 13px;
  font-weight: 500;
  color: var(--bs-white);
  letter-spacing: 3px;
}
.achieve_best .achieve_best_subtitle {
  color: var(--bs-white);
  font-family: "inter";
  font-size: 27px;
  line-height: 38px;
  letter-spacing: -0.3px;
}
.achieve_best .achieve_best_para {
  font-size: 1.125rem;
  font-family: "Calibri";
  padding: 73px 0 84px 0;
}

.books_purchase_wrap .books_purchase_banner {
  padding: 67px 40px 73px 40px;
  background: url(../../images/bgbk.png) #000 no-repeat right;
}
.books_purchase_wrap .books_purchase_banner h5 {
  font-size: 3.563rem;
  line-height: 50px;
  margin-bottom: 40px;
}
.books_purchase_wrap .books_purchase_banner .explore_txt {
  margin-top: 40px;
}
.books_purchase_wrap .books_purchase_banner .explore_txt {
  line-height: 32px;
  border-radius: 25px;
  padding: 6px 24px;
  text-decoration: none;
  background: #000;
  margin: 40px 0 74px 0;
}
.books_purchase_wrap .bk_purchase_container {
  background: url("../../images/book1.png") no-repeat right;
}

.nutrition_books_purchase {
  padding: 120px 0 0 0;
}
.nutrition_books_purchase .card_heading {
  font-size: 2.18rem;
  padding-top: 50px;
  line-height: 56px;
}
.nutrition_books_purchase .card_subheading {
  font-size: 1.125rem;
  line-height: 37px;
  gap: 24px;
}
.nutrition_books_purchase .paper_strike {
  gap: 13px;
  margin-top: 13px;
}
.nutrition_books_purchase .paper_back_box {
  padding: 6px 17px;
  font-size: 1.125rem;
  line-height: 30px;
  border: 1px solid var(--bs-blue);
  border-radius: 13px;
  color: var(--bs-blue);
}
.nutrition_books_purchase .purchase_top_section {
  margin-bottom: 19px;
}
.nutrition_books_purchase .purchase_bottom_section .purchase_bottom_heading {
  font-size: 1.18rem;
}
.nutrition_books_purchase .purchase_bottom_section .pur-bttm-sec {
  gap: 27px;
  margin-bottom: 57px;
}
.nutrition_books_purchase .purchase_footer_section {
  gap: 33px;
}
.nutrition_books_purchase .purchase_footer_section_incdes {
  gap: 12px;
}
.nutrition_books_purchase .purchase_footer_section .incrdecr_span,
.nutrition_books_purchase .purchase_footer_section .count_show {
  border: 1px solid var(--bs-gray);
  border-radius: 25px;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nutrition_books_purchase .purchase_footer_section .count_show {
  width: 74px;
}

.para_bk_pur {
  margin-top: 27px;
}
.para_bk_pur p {
  color: var(--bs-light-white);
  font-size: 0.875rem;
}

.divider-sec {
  margin: 30px 0 0px 0;
}
.divider-sec .divider-outer {
  background: var(--bs-primary-red);
  height: 17px;
  width: 97px;
  border-radius: 25px;
}
.divider-sec .divider-border {
  top: 50%;
  z-index: -1;
  transform: translate(0, -50%);
  border: 1px solid var(--bs-white);
  width: 100%;
}

.slider_sec_blueprint {
  margin-top: 70px;
}
.slider_sec_blueprint .slick-track {
  width: 100% !important;
  gap: 20px;
  display: flex;
}
.slider_sec_blueprint .slick-track .card {
  padding: 30px 30px 19px;
}
.slider_sec_blueprint .slick-track .card .img-container {
  width: 100% !important;
  height: 270px !important;
}
.slider_sec_blueprint .slick-track .card .card_heading {
  line-height: 22px;
  padding: 10px 0 0 0;
}
.slider_sec_blueprint .slick-track .card .card_subheading {
  margin-top: 12px;
  margin-bottom: 0;
  gap: 12px;
}
.slider_sec_blueprint .slick-track .card .free_star_box {
  padding: 8px 0 13px 0;
}
.slider_sec_blueprint .slick-track .card .star_img {
  width: 104px;
}

.slick-carousel-detail .slick-next:before,
.slick-carousel-detail .slick-prev:before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
}
.slick-carousel-detail .slick-next {
  right: 35px;
}
.slick-carousel-detail .slick-next:before {
  background: url("../../images/right.png") no-repeat;
}
.slick-carousel-detail .slick-prev {
  left: 30px;
}
.slick-carousel-detail .slick-prev:before {
  background: url("../../images/right.png") no-repeat;
  transform: rotate(-180deg);
}

.bk_right_container img {
  aspect-ratio: 25/18;
}

.goals_container h3 {
  color: var(--bs-light-gray);
  font-size: 3.625rem;
  line-height: 66px;
}
.goals_container .goals_lt {
  padding: 70px 55px;
}
.goals_container .goals_lt p {
  margin: 35px 0;
}
.goals_container .author_box_view {
  width: 973px;
  margin: 0 auto;
  max-width: 973px;
}
.goals_container .author_box_view .author_box {
  border: 1px solid var(--bs-light-white);
  background: url("../../images/noise_texture.png") no-repeat;
  border-radius: 35px;
}
.goals_container .author_box_view .author_box .author-bx-wrap {
  padding: 91px 51px 91px 0;
}
.goals_container .author_box_view .author_box .author-bx-wrap h6 {
  font-size: 2.438rem;
  line-height: 45px;
  margin-bottom: 12px;
}
.goals_container .author_box_view .author_box .author-bx-wrap p {
  font-size: 0.875rem;
  line-height: 18px;
}
.goals_container .dumbell_box {
  position: absolute;
  right: 0;
  bottom: -194px;
}
.goals_container .authbox {
  position: absolute;
  top: -21%;
  left: 37px;
  z-index: 1;
  width: 612px;
  transform: translate(0, -2%);
}

ul {
  list-style: none;
  padding-left: 0;
}

:root {
  --bs-red: #e90202;
  --bs-primary-red: #ee3338;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-Yellow: #ffb800;
  --bs-blue: #179cdb;
  --bs-gray: #979797;
  --bs-light-white: #eaeaea;
  --bs-light-gray: #bfb1b1;
  --rgb-orange: 232, 170, 10;
}/*# sourceMappingURL=style.css.map */