@import '../scss/base/base_dir';
@import './utilities/utilitues';
@import './layout/_layout';
@import './pages/_page_dir';

ul {
  list-style: none;
  padding-left: 0;
}

:root {
  --bs-red: #e90202;
  --bs-primary-red: #ee3338;
  --bs-secondary-red: #ff0101;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-Yellow: #ffb800;
  --bs-blue: #179cdb;
  --bs-gray: #979797;
  --bs-light-white: #eaeaea;
  --bs-light-gray: #bfb1b1;
  --bs-dark-gray: #999;
  --bs-dark-gray-primary: #504646;
  --rgb-orange: 232, 170, 10;
  --bs-secondary-blue: #00b2ff;
  --bs-placeholder: #bcbec0;
  --bs-dark-gray: #2c2c2c;
  --bs-dark-gray2: #828282;
  --bs-checkout-gray: #e0e0e0;
  --bs-dark-gray3: #b5bec6;
  --bs-dark-addremoval: #d9d9d9;
}
