@font-face {
  font-family: "Calibri";
  src: url("../../fonts/Calibri.woff2") format("woff2"), url("../../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("../../fonts/Calibri-Bold.woff2") format("woff2"), url("../../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bank Gothic";
  src: url("../../fonts/BankGothicBTLightRegular.woff2") format("woff2"), url("../../fonts/BankGothicBTLightRegular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bank Gothic";
  src: url("../../fonts/BankGothicBTMediumRegular.woff2") format("woff2"), url("../../fonts/BankGothicBTMediumRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-Bold.woff2") format("woff2"), url("../../fonts/Jura-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-Medium.woff2") format("woff2"), url("../../fonts/Jura-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura-Light.woff") format("woff2"), url("../../fonts/Jura-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Light.woff2") format("woff2"), url("../../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-SemiBold.woff2") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.woff2") format("woff2"), url("../../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dune Rise";
  src: url("../../fonts/Dune_Rise.woff2") format("woff2"), url("../../fonts/Dune_Rise.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.button {
  background: var(--bs-primary-red);
  line-height: 30px;
  text-align: center;
  padding: 6px 24px;
  display: inline-block;
  outline: none;
  border: 1px solid var(--bs-primary-red);
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 8px;
  color: var(--bs-white);
  font-family: calibri;
  font-size: 16px;
  line-height: 29px;
}
@media (min-width: 992px) {
  .button {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .button {
    font-size: 16px;
  }
}
.button_bgtransparent {
  border: 1px solid var(--bs-primary-red);
  background: transparent;
}
.button_rounded {
  border-radius: 25px;
}
.button_primary {
  background: radial-gradient(50% 50% at 50% 50%, #f37c7e 0%, #ea3f42 100%);
  padding: 10px 25px;
  box-shadow: 0px -5.72px 2.86px 0px rgba(0, 0, 0, 0.2509803922) inset;
}

.border_transparent {
  font-size: 1.2rem;
  line-height: 26px;
  border: 1px solid var(--bs-white);
  background: transparent;
  color: var(--bs-white);
  border-radius: 25px;
  padding: 12px 25px;
  text-decoration: none;
}
.border_transparent:hover {
  color: var(--bs-white);
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background: url("../images/bodybg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
}

.heading_brdr {
  padding: 1px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -1.36%, #ff0000 77.38%);
  width: 48px;
}

.fontInter {
  font-family: "Inter";
}

.fontBankGothic {
  font-family: "Bank Gothic";
}

.fontCalibri {
  font-family: "Calibri";
}

.fontDune {
  font-family: "Dune Rise";
}

.fontPoppins {
  font-family: "Poppins";
}

.fontBold {
  font-weight: bold;
}

.font600 {
  font-weight: 600;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.common_font {
  font-size: 1.125rem;
  line-height: 27px;
}

.blueprint_container .card {
  border-radius: 50px;
  border: 1px solid var(--bs-white);
  padding: 20px;
  background: url("../../images/cad_paperbackbg.png") no-repeat center;
  position: relative;
}
.blueprint_container .card .heart_sec {
  position: absolute;
  right: 22px;
  width: 26px;
  height: 22px;
  top: 30px;
}
.blueprint_container .card .card_heading {
  font-size: 1rem;
  line-height: 20px;
  color: var(--bs-white);
  padding: 5px 0 0 0;
}
.blueprint_container .card .card_subheading span {
  font-size: 0.75rem;
}
.blueprint_container .card .free_star_box {
  align-items: end;
  gap: 20px;
  padding: 0px 0 8px 0;
}
.blueprint_container .card .free_star_box .free_ship_txt {
  font-size: 0.68rem;
  font-weight: 600;
}
.blueprint_container .card .paper_strike {
  display: flex;
  gap: 14px;
}
.blueprint_container .card .paper_strike .paper_back_box {
  border: 1px solid rgba(var(--rgb-orange), 0.62);
  border-radius: 10px;
  padding: 1px 10px;
}
.blueprint_container .card .paper_strike .paper_back_box.paper_back_blue {
  border-color: var(--bs-blue);
}
.blueprint_container .card .paper_strike .paper_back_box.paper_back_blue p {
  color: var(--bs-blue);
}
.blueprint_container .card .paper_strike .paper_back_box p {
  color: var(--bs-Yellow);
}

.a_bgtransparent,
.a_bgtransparent_brred {
  border: 1px solid var(--bs-white);
  border-radius: 25px;
  line-height: 26px;
  padding: 4px 22px;
  margin-top: 41px;
}
@media (max-width: 768px) {
  .a_bgtransparent,
  .a_bgtransparent_brred {
    margin-top: 30px;
  }
}

.a_bgtransparent_brred {
  border: 1px solid var(--bs-red);
  padding: 7px 22px;
}

.footer_brder {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -1.36%, #ff0000 49.33%, rgba(0, 0, 0, 0) 100.03%);
  width: 100%;
  padding-top: 6px;
}

.slick-dots {
  bottom: -60px !important;
}
.slick-dots li {
  width: 13px;
  height: 13px;
  border: 1px solid var(--bs-white);
  border-radius: 25px;
}
.slick-dots li.slick-active button:before {
  color: var(--bs-secondary-red);
  background: var(--bs-secondary-red);
  border: 1px solid var(--bs-secondary-red);
  width: 13px;
  height: 13px;
  border-radius: 25px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.client_spotlight_dumbell {
  position: absolute;
  height: 492px;
  width: 360px;
  top: -90px;
}

.form-check-input {
  background: transparent;
  border: 1px solid var(--bs-white);
}

header {
  padding: 25px 25px 0 25px;
}
header .nav-bar {
  position: fixed;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(115, 115, 115, 0.39) 100%);
  width: calc(100% - 50px);
  z-index: 2;
  left: 25px;
  padding-right: 25px;
  border-radius: 13px;
}
@media (max-width: 768px) {
  header .nav-bar .logo img {
    width: 125px;
  }
  header .nav-bar .humberger {
    display: flex !important;
    margin: 2px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  header .nav-bar .humberger .humberger_menu {
    width: 20px;
    height: 2px;
    background: var(--bs-white);
  }
  header .nav-bar .three_dot_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  header .nav-bar .three_dot_wrap .three_dot_cls {
    width: 5px;
    height: 5px;
    border: 1px solid var(--bs-white);
    border-radius: 50px;
    background: var(--bs-white);
  }
  header .nav-bar .three_dot_wrap .dropdown .dropdown-menu {
    position: absolute;
    right: 0;
    top: 20px;
  }
  header .nav-bar .three_dot_wrap .dropdown .dropdown-menu.active {
    display: flex;
    flex-direction: column;
  }
  header .nav-bar .login_btn {
    display: none;
  }
}
header .nav-bar .humberger {
  display: none;
}
header .nav-bar .menu-ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  gap: 50px;
  display: flex;
}
header .nav-bar .menu-ul li {
  line-height: 29px;
}
header .nav-bar .menu-ul li a {
  font-family: calibri;
  font-size: 16px;
  color: var(--bs-white);
}
header .nav-bar .menu-ul li:last-child {
  display: none;
}
@media (max-width: 768px) {
  header .nav-bar .menu-ul {
    display: none;
  }
}
header .nav-bar .menu-cart {
  gap: 40px;
  display: flex;
}
header .nav-bar .menu-cart .dropdown {
  display: none;
}
@media (max-width: 768px) {
  header .nav-bar .menu-cart .dropdown {
    display: block;
  }
}
header .nav-bar .cross-btn {
  display: none;
}
header .nav-bar .backdrop {
  background: var(--bs-white);
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  background: linear-gradient(90deg, rgba(9, 9, 9, 0) 0%, rgba(241, 225, 225, 0.39) 100%);
  transition: all 0.3s linear;
}
@media (max-width: 768px) {
  header .nav-bar .menu-cart {
    gap: 20px;
  }
  header .nav-bar .menu-ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    background: #000;
    width: 70%;
    gap: 10px;
    height: 100vh;
    padding: 70px 30px;
    background: url(../images/wave-red-lines-light.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    transition: all 0.5s linear;
  }
  header .nav-bar.active .logo {
    z-index: 1;
  }
  header .nav-bar.active .menu-ul {
    left: 0;
    padding-top: 120px;
  }
  header .nav-bar.active .menu-ul li:last-child {
    display: flex;
  }
  header .nav-bar.active .cross-btn {
    display: flex;
    position: absolute;
    color: #fff;
    top: 28px;
    right: 25px;
    font-size: 25px;
  }
  header .nav-bar.active .backdrop {
    left: 0;
  }
}

.main_content {
  padding-top: 128px;
}
@media (max-width: 576px) {
  .main_content {
    padding-top: 85px;
  }
}

.three_dot_wrap {
  display: none;
}

.btn_after_hide::after {
  display: none;
}

footer {
  background: url("../../images/footerbg.jpg") no-repeat;
  margin-top: 133px;
}
footer .footer_section {
  position: relative;
}
footer .footer_section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #000;
}
footer .footer_section_container {
  position: relative;
}
footer .footer_section .footer_wrap {
  padding-top: 83px;
}
footer .footer_section .footer_wrap .footer_sec {
  position: relative;
  color: var(--bs-white);
}
@media (max-width: 768px) {
  footer .footer_section .footer_wrap .footer_sec {
    margin-bottom: 30px;
  }
}
footer .footer_section .footer_wrap .footer_sec h4 {
  font-size: 1.563rem;
  line-height: 34px;
  margin-bottom: 21px;
  font-family: "Jura";
  font-weight: 500;
}
footer .footer_section .footer_wrap .footer_sec p {
  font-weight: 300;
}
footer .footer_section .footer_wrap .footer_sec ul li {
  margin-bottom: 20px;
  word-break: break-all;
}
footer .footer_section .footer_wrap .footer_sec ul li a {
  color: var(--bs-white);
  text-decoration: none;
  font-family: "Inter";
}
@media (min-width: 1200px) {
  footer .footer_section .footer_wrap .footer_sec ul li {
    word-break: normal;
  }
}
footer .footer_section .social_media_ul {
  display: flex;
  gap: 22px;
}
footer .footer_section .footer_lt {
  margin-bottom: 23px;
}
footer .footer_section .footer_lt .logo {
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  footer .footer_section .footer_lt .logo {
    width: 125px;
    display: block;
    margin: 0 auto;
  }
}
footer .footer_section .footer_lt_para {
  font-size: 1.063rem;
  line-height: 20px;
  margin-bottom: 20px;
  font-family: "Inter";
}
footer .footer_section .img-box {
  background: var(--bs-white);
  width: 25px;
  height: 25px;
}
footer .stay_connected ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 23px;
}
footer .footer_bottom {
  position: relative;
  padding-top: 35px;
}
@media (max-width: 768px) {
  footer .footer_bottom {
    padding-top: 20px;
  }
}
footer .footer_bottom .exclusive_offer {
  color: var(--bs-white);
  font-size: 0.875rem;
  line-height: 20.74px;
  font-family: "inter";
  font-weight: 300;
  padding-bottom: 28px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--bs-red);
}
@media (max-width: 768px) {
  footer .footer_bottom .exclusive_offer {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
footer .footer_bottom .copy_right {
  padding: 0;
}
footer .footer_bottom .copy_right h5 {
  font-size: 0.875rem;
  color: var(--bs-white);
}
@media (max-width: 768px) {
  footer .footer_bottom .copy_right h5 {
    display: flex;
    align-items: center;
  }
}
footer .footer_bottom .copy_right ul {
  gap: 60px;
}
@media (max-width: 768px) {
  footer .footer_bottom .copy_right ul {
    gap: 10px;
  }
}
footer .footer_bottom .copy_right ul li {
  font-size: 0.875rem;
  color: var(--bs-white);
}
@media (max-width: 768px) {
  footer .footer_bottom .copy_right ul li {
    text-align: center;
  }
}

.termsofservice_container.blog_container .title {
  margin-bottom: 75px;
}
.termsofservice_container.blog_container .title .termofservice_section .title {
  margin-bottom: 80px;
}
.termsofservice_container.blog_container .blog_info {
  margin: 50px 12px;
}
@media (min-width: 1200px) {
  .termsofservice_container.blog_container .blog_info {
    margin: 85px 75px;
  }
}
.termsofservice_container.blog_container .blog_info_title {
  color: var(--bs-white);
}
.termsofservice_container.blog_container .blog_info_ul {
  padding-left: 30px;
  margin-bottom: 40px;
}
.termsofservice_container.blog_container .blog_info_ul li {
  color: var(--bs-white);
  font-size: 1.063rem;
  line-height: 26px;
  font-family: "Inter";
  list-style: disc;
}
.termsofservice_container.blog_container .button_action {
  display: flex;
  gap: 30px;
}
.termsofservice_container .heading_termsofservice {
  font-size: 2.5rem;
  padding: 65px 0 35px 0;
}
@media (min-width: 768px) {
  .termsofservice_container .heading_termsofservice {
    font-size: 3.5rem;
    padding: 135px 0 55px 0;
  }
}
.termsofservice_container .termofservice_section {
  padding-top: 66px;
}
.termsofservice_container .termofservice_section .title {
  font-size: 39px;
  color: var(--bs-white);
  line-height: 38px;
}
.termsofservice_container .termofservice_section .para {
  font-size: 1.06rem;
  line-height: 26px;
  color: var(--bs-white);
}

@media (min-width: 768px) {
  .bodybuilder {
    background: url(../../images/iqbalsayed.png) no-repeat;
    width: 100%;
    background-size: cover;
  }
}
.bodybuilder .certificate_experties_top p {
  font-size: 1.12rem;
  color: var(--bs-white);
}
.bodybuilder .certificate_experties_top .dumbell_wrap {
  margin-bottom: 80px;
}
.bodybuilder .certificate_experties_top .text_container {
  border: 1px solid var(--bs-dark-gray);
  padding: 40px;
  background: url("../../images/noise_texture.png") no-repeat;
  background-size: cover;
  border-radius: 50px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .bodybuilder .certificate_experties_top .text_container {
    padding: 59px;
  }
}
.bodybuilder .certificate_experties_top .certification_expert_section {
  border: 1px solid var(--bs-dark-gray);
  padding: 42px;
  border-radius: 50px;
  background: url(../images/noise_texture.png);
  background-size: cover;
}
.bodybuilder .certificate_experties_top .certification_expert_section_h4 {
  color: var(--bs-white);
}
.bodybuilder .certificate_experties_top .certification_expert_section .certificate_ul {
  margin-top: 16px;
}
.bodybuilder .certificate_experties_top .certification_expert_section .certificate_ul li {
  color: var(--bs-white);
  font-size: 1.06rem;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.bodybuilder .certificate_experties_top .certification_expert_section .certificate_ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--bs-primary-red);
  left: 5px;
}
.bodybuilder .certificate_experties_top .dumbell_wrap {
  display: none;
}
@media (min-width: 1200px) {
  .bodybuilder .certificate_experties_top .dumbell_wrap {
    display: flex;
  }
}

.excellence_container {
  color: var(--bs-white);
  padding: 97px 0;
}
.excellence_container .title {
  font-size: 2rem;
  line-height: 37px;
  margin-bottom: 26px;
}
@media (min-width: 992px) {
  .excellence_container .title {
    font-size: 3rem;
    line-height: 56px;
  }
}
.excellence_container .contactus_now {
  padding: 11px 23px;
  border-radius: 50px;
}
.excellence_container .para_second_cls {
  margin-bottom: 60px;
}
.excellence_container .client_spotlight_dumbell {
  top: 65px;
}

.achieve_best {
  padding-top: 20px;
}
.achieve_best .achieve_your_best_container {
  margin-bottom: 65px;
}
.achieve_best h2 {
  font-family: "Bank Gothic";
  font-size: 4.625rem;
  line-height: 77%;
  margin-bottom: 13px;
  font-weight: 500;
  color: var(--bs-white);
  letter-spacing: 3px;
}
@media (min-width: 768px) {
  .achieve_best h2 {
    font-size: 5.625rem;
  }
}
.achieve_best .achieve_best_subtitle {
  color: var(--bs-white);
  font-family: "inter";
  font-size: 27px;
  line-height: 38px;
  letter-spacing: -0.3px;
}
.achieve_best .achieve_best_para {
  font-size: 1.125rem;
  font-family: "Calibri";
  padding: 73px 0 84px 0;
}
.achieve_best .star_img {
  width: 84px;
  height: 19px;
  display: flex;
}

.books_purchase_wrap .books_purchase_wrap_box .purchase_book_firstrow {
  flex-direction: column;
}
@media (min-width: 576px) {
  .books_purchase_wrap .books_purchase_wrap_box .purchase_book_firstrow {
    flex-direction: row;
  }
}
.books_purchase_wrap .books_purchase_banner {
  padding: 67px 40px 73px 40px;
  background: url(../../images/bgbk.png) #000 no-repeat right;
}
@media (max-width: 768px) {
  .books_purchase_wrap .books_purchase_banner {
    padding: 40px 10px;
  }
}
.books_purchase_wrap .books_purchase_banner h5 {
  font-size: 2rem;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .books_purchase_wrap .books_purchase_banner h5 {
    font-size: 2rem !important;
    line-height: 40px !important;
  }
}
@media (min-width: 1200px) {
  .books_purchase_wrap .books_purchase_banner h5 {
    font-size: 3.563rem !important;
    line-height: 50px !important;
  }
}
.books_purchase_wrap .books_purchase_banner .explore_txt {
  margin-top: 40px;
}
.books_purchase_wrap .books_purchase_banner .explore_txt {
  line-height: 32px;
  border-radius: 25px;
  padding: 6px 24px;
  text-decoration: none;
  background: #000;
  margin: 40px 0 74px 0;
}
.books_purchase_wrap .bk_purchase_container {
  background: url("../../images/book1.png") no-repeat right;
}

.nutrition_books_purchase {
  padding: 120px 0 0 0;
}
@media (max-width: 768px) {
  .nutrition_books_purchase {
    padding: 50px 0 0 0;
  }
}
.nutrition_books_purchase .card_heading {
  font-size: 2.18rem;
  padding-top: 50px;
  line-height: 56px;
}
@media (max-width: 768px) {
  .nutrition_books_purchase .card_heading {
    padding-top: 30px;
    line-height: 40px;
  }
}
.nutrition_books_purchase .card_subheading {
  font-size: 1.125rem;
  line-height: 37px;
  gap: 24px;
}
.nutrition_books_purchase .paper_strike {
  gap: 13px;
  margin-top: 13px;
}
.nutrition_books_purchase .paper_back_box {
  padding: 6px 17px;
  font-size: 1.125rem;
  line-height: 30px;
  border: 1px solid var(--bs-blue);
  border-radius: 13px;
  color: var(--bs-blue);
}
.nutrition_books_purchase .purchase_top_section {
  margin-bottom: 19px;
}
.nutrition_books_purchase .purchase_bottom_section .purchase_btm_details {
  flex-direction: column;
}
@media (min-width: 1200px) {
  .nutrition_books_purchase .purchase_bottom_section .purchase_btm_details {
    flex-direction: row;
  }
}
.nutrition_books_purchase .purchase_bottom_section .purchase_bottom_heading {
  font-size: 1.18rem;
}
.nutrition_books_purchase .purchase_bottom_section .pur-bttm-sec {
  gap: 27px;
  margin-bottom: 57px;
}
.nutrition_books_purchase .purchase_footer_section {
  gap: 20px;
  flex-direction: row;
}
@media (max-width: 576px) {
  .nutrition_books_purchase .purchase_footer_section {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .nutrition_books_purchase .purchase_footer_section {
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .nutrition_books_purchase .purchase_footer_section {
    gap: 33px;
  }
}
.nutrition_books_purchase .purchase_footer_section_incdes {
  gap: 12px;
}
.nutrition_books_purchase .purchase_footer_section .incrdecr_span,
.nutrition_books_purchase .purchase_footer_section .count_show {
  border: 1px solid var(--bs-gray);
  border-radius: 25px;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nutrition_books_purchase .purchase_footer_section .count_show {
  width: 60px;
}
@media (min-width: 1200px) {
  .nutrition_books_purchase .purchase_footer_section .count_show {
    width: 74px;
  }
}
.nutrition_books_purchase .purchase_footer_section .font_del_txt {
  font-size: 0.625rem;
}
@media (min-width: 1200px) {
  .nutrition_books_purchase .purchase_footer_section .font_del_txt {
    font-size: 0.875rem;
  }
}

.para_bk_pur {
  margin-top: 27px;
}
@media (max-width: 768px) {
  .para_bk_pur {
    padding: 0 12px;
  }
}
.para_bk_pur p {
  color: var(--bs-light-white);
  font-size: 0.875rem;
}

.divider-sec {
  margin: 30px 0 0px 0;
}
@media (max-width: 768px) {
  .divider-sec {
    margin: 30px 10px 0 10px;
  }
}
.divider-sec .divider-outer {
  background: var(--bs-primary-red);
  height: 17px;
  width: 97px;
  border-radius: 25px;
}
.divider-sec .divider-border {
  top: 50%;
  z-index: -1;
  transform: translate(0, -50%);
  border: 1px solid var(--bs-white);
  width: 100%;
}

.slider_sec_blueprint {
  margin-top: 70px;
}
.slider_sec_blueprint .slick-track {
  width: 100% !important;
  gap: 20px;
  display: flex;
}
.slider_sec_blueprint .slick-track .card {
  padding: 30px 30px 19px;
}
.slider_sec_blueprint .slick-track .card .img-container {
  width: 100% !important;
  height: 270px !important;
}
.slider_sec_blueprint .slick-track .card .card_heading {
  line-height: 22px;
  padding: 10px 0 0 0;
}
.slider_sec_blueprint .slick-track .card .card_subheading {
  margin-top: 12px;
  margin-bottom: 0;
  gap: 12px;
}
.slider_sec_blueprint .slick-track .card .free_star_box {
  padding: 8px 0 13px 0;
}
.slider_sec_blueprint .slick-track .card .star_img {
  width: 104px;
}

.slick-carousel-detail .slick-next:before,
.slick-carousel-detail .slick-prev:before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
}
.slick-carousel-detail .slick-next {
  right: 35px;
}
.slick-carousel-detail .slick-next:before {
  background: url("../../images/right.png") no-repeat;
}
@media (max-width: 768px) {
  .slick-carousel-detail .slick-next {
    right: 15px;
  }
}
.slick-carousel-detail .slick-prev {
  left: 30px;
}
@media (max-width: 768px) {
  .slick-carousel-detail .slick-prev {
    left: 0px;
  }
}
.slick-carousel-detail .slick-prev:before {
  background: url("../../images/right.png") no-repeat;
  transform: rotate(-180deg);
}

@media (min-width: 576px) {
  .bk_right_container {
    height: 100%;
  }
}
.bk_right_container img {
  aspect-ratio: 25/18;
}
@media (min-width: 576px) {
  .bk_right_container img {
    height: 100%;
  }
}

.goals_container h3 {
  color: var(--bs-light-gray);
  font-size: 3.625rem;
  line-height: 66px;
}
@media (max-width: 768px) {
  .goals_container h3 {
    font-size: 2.625rem;
    line-height: 50px;
  }
}
.goals_container .goals_lt {
  padding: 70px 55px;
}
@media (max-width: 768px) {
  .goals_container .goals_lt {
    padding: 10px 0 45px 0;
    text-align: center;
  }
}
.goals_container .goals_lt p {
  margin: 35px 0;
}
.goals_container .author_box_view {
  width: 973px;
  margin: 0 auto;
  max-width: 973px;
}
@media (max-width: 768px) {
  .goals_container .author_box_view {
    width: 100%;
  }
}
.goals_container .author_box_view .author_box {
  border: 1px solid var(--bs-light-white);
  background: url("../../images/noise_texture.png") no-repeat;
  border-radius: 35px;
}
.goals_container .author_box_view .author_box .author-bx-wrap {
  padding: 91px 51px 91px 0;
}
@media (max-width: 768px) {
  .goals_container .author_box_view .author_box .author-bx-wrap {
    padding: 58px 30px 70px 30px;
  }
}
.goals_container .author_box_view .author_box .author-bx-wrap h6 {
  font-size: 2.438rem;
  line-height: 45px;
  margin-bottom: 12px;
}
.goals_container .author_box_view .author_box .author-bx-wrap p {
  font-size: 0.875rem;
  line-height: 18px;
}
.goals_container .dumbell_box {
  position: absolute;
  right: 0;
  bottom: -194px;
}
.goals_container .authbox {
  position: absolute;
  top: -21%;
  left: -152px;
  z-index: 1;
  width: 612px;
  transform: translate(0, -2%);
}
@media (max-width: 768px) {
  .goals_container .authbox {
    display: none;
  }
}

.client_spotlights {
  padding: 100px 0 0 0;
}
@media (max-width: 768px) {
  .client_spotlights {
    padding: 40px 0 0 0;
  }
}
.client_spotlights .strength_para {
  font-size: 2.18rem;
  line-height: 53px;
  margin-bottom: 91px;
}
@media (max-width: 768px) {
  .client_spotlights .strength_para {
    margin-bottom: 125px;
    font-size: 2rem;
    line-height: 44px;
  }
}
.client_spotlights .client_spotlight_img {
  width: 939px;
  margin: 0 auto;
  max-width: 939px;
  position: relative;
}
@media (max-width: 768px) {
  .client_spotlights .client_spotlight_img {
    width: 100%;
  }
}
.client_spotlights .client_spotlight_img .h4_heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .client_spotlights .client_spotlight_img .h4_heading {
    bottom: 0;
    position: relative;
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.client_spotlights .spotlight_wrapper {
  margin: 89px 0 100px 0;
}
.client_spotlights .spotlight_wrapper .blog_spotlight_wrap {
  margin-bottom: 50px;
}
.client_spotlights .spotlight_wrapper .loadmore_a {
  padding-top: 58px;
}
.client_spotlights .spotlight_wrapper .blog {
  margin-bottom: 0;
}
.client_spotlights .spotlight_wrapper .blog .readingwarp {
  padding: 10px 23px;
  border: 1px solid var(--bs-white);
  border-radius: 25px;
  color: var(--bs-white);
}
.client_spotlights .spotlight_wrapper .blog .card_sportlight_inner_wrap {
  gap: 25px;
  padding: 27px 0 20px 0;
  flex-direction: column;
}
@media (min-width: 576px) {
  .client_spotlights .spotlight_wrapper .blog .card_sportlight_inner_wrap {
    flex-direction: row;
    padding: 27px 0 45px 0;
    gap: 52px;
  }
}
.client_spotlights .spotlight_wrapper .blog .card_sportlight_inner_wrap .continue_reading_txt {
  font-size: 1.18rem;
}
.client_spotlights .spotlight_wrapper .blog .comment_txt {
  font-size: 1rem;
  line-height: 26px;
}
.client_spotlights .spotlight_wrapper .card_sportlight {
  border: 1px solid var(--bs-light-white); /* Set the border width */
  border-radius: 36px;
  padding: 33px 40px;
}
.client_spotlights .spotlight_wrapper .card_sportlight.blog {
  margin: 0 !important;
}
@media (max-width: 768px) {
  .client_spotlights .spotlight_wrapper .card_sportlight {
    margin: 10px 0 0 0;
    padding: 30px;
  }
}
.client_spotlights .spotlight_wrapper .card_sportlight h4 {
  font-size: 2.68rem;
  line-height: 30px;
  margin-bottom: 20px;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .client_spotlights .spotlight_wrapper .card_sportlight h4 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .client_spotlights .spotlight_wrapper .card_sportlight h4 {
    line-height: 38px;
  }
}
.client_spotlights .spotlight_wrapper .card_sportlight p {
  font-size: 0.875rem;
  line-height: 19px;
}
@media (max-width: 768px) {
  .client_spotlights .spotlight_wrapper .card_last_sportlight {
    margin-bottom: 50px;
  }
}

.related_post .title {
  font-size: 3.35rem;
  line-height: 49px;
}
.related_post ul {
  padding-left: 22px;
}
.related_post ul li {
  font-size: 1rem;
  line-height: 28px;
  list-style: disc;
  color: var(--bs-secondary-blue);
}

.contact_us_now .contact_us_now_container {
  margin-top: 123px;
}
.contact_us_now .contact_us_now_container .heading {
  font-size: 4rem;
  line-height: 59px;
  letter-spacing: -0.05px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .contact_us_now .contact_us_now_container .heading {
    font-size: 3rem;
    line-height: 50px;
  }
}
.contact_us_now .contact_us_now_container .para {
  font-size: 1.125rem;
  line-height: 28px;
}

.client_have_to_say {
  background: url("../../images/footerbg.jpg") no-repeat;
  background-size: cover;
}
.client_have_to_say .client_have_to_say_container {
  position: relative;
  padding: 76px 0 95px 0;
}
.client_have_to_say .client_have_to_say_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #000;
}
.client_have_to_say .client_have_to_say_container .heading {
  font-size: 2.68rem;
  line-height: 50px;
  letter-spacing: -0.5px;
  margin-bottom: 101px;
}
.client_have_to_say .client_have_to_say_container .slider_client {
  margin-top: 88px;
}
.client_have_to_say .client_have_to_say_container .slider_client .card-layout {
  padding: 16px;
  border-radius: 57px;
  background: url("../../images//layout.png") no-repeat;
  background-size: cover;
}
.client_have_to_say .client_have_to_say_container .slider_client .card-layout-inner {
  border: 1px solid var(--bs-dark-gray);
  border-radius: 57px;
  padding: 30px;
}
.client_have_to_say .client_have_to_say_container .slider_client .card-layout .image_container {
  width: 108px;
  height: 108px;
}
.client_have_to_say .client_have_to_say_container .slider_client .card-layout .username {
  font-size: 2.18rem;
  line-height: 41px;
  margin-bottom: 6px;
}
.client_have_to_say .client_have_to_say_container .slider_client .card-layout .img-star {
  width: 91px;
  height: 28px;
}
.client_have_to_say .client_have_to_say_container .slider_client .card-layout .user_detail {
  font-size: 0.875rem;
  line-height: 20px;
}
.client_have_to_say .client_have_to_say_container .slider_client .slick-track {
  display: flex;
  gap: 20px;
}

.nutrition_programming_weeklyin {
  padding: 163px 0 141px 0;
}
@media (max-width: 768px) {
  .nutrition_programming_weeklyin {
    padding: 200px 0 100px 0;
  }
}
.nutrition_programming_weeklyin .nutrition_img {
  background: var(--bs-dark-gray-primary);
  padding: 13px;
  border-radius: 42px;
}
.nutrition_programming_weeklyin .nutrition_img img {
  border-radius: 42px;
}
.nutrition_programming_weeklyin .nutrition_content.nut_content_mt {
  padding-top: 50px;
}
@media (max-width: 768px) {
  .nutrition_programming_weeklyin .nutrition_content.nut_content_mt {
    padding-top: 20px;
  }
}
.nutrition_programming_weeklyin .nutrition_content.last_nut_mb {
  margin-bottom: 50px;
}
.nutrition_programming_weeklyin .nutrition_content h4 {
  font-size: 2.25rem;
  line-height: 30px;
}
.nutrition_programming_weeklyin .nutrition_content h4.cust_pt {
  padding-top: 90px;
}
@media (max-width: 768px) {
  .nutrition_programming_weeklyin .nutrition_content h4.cust_pt {
    padding-top: 40px;
  }
}
.nutrition_programming_weeklyin .nutrition_content .para_content {
  font-size: 0.875rem;
  line-height: 22px;
}
.nutrition_programming_weeklyin .weeklycheckin {
  background: url("../../images/layout.png");
  padding: 13px;
  border-radius: 42px;
}
.nutrition_programming_weeklyin .weeklycheckin img {
  border-radius: 47px;
}
.nutrition_programming_weeklyin .weeklycheckin.weekly_customize {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .nutrition_programming_weeklyin .weeklycheckin.weekly_customize {
    margin-top: 20px;
  }
}
.nutrition_programming_weeklyin .inner_secondcol_img {
  display: none;
}
@media (min-width: 768px) {
  .nutrition_programming_weeklyin .inner_secondcol_img {
    display: block;
  }
}
.nutrition_programming_weeklyin .nut_img_outer {
  height: 100%;
  display: flex;
  justify-content: center;
}
.nutrition_programming_weeklyin .nut_img_outer .nut_img_inner {
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nutrition_programming_weeklyin .nut_img_outer .nut_img_inner .nut_inner_border {
  position: absolute;
  top: -50px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.32) 0%, #cc0000 33.97%, #b00000 66.01%, rgba(153, 0, 0, 0.4) 100%);
  width: 2px;
  height: calc(100% + 100px);
  z-index: -1;
}

.login_container {
  height: 100vh;
}
.login_container .xs-left-container {
  display: none;
}
@media (min-width: 768px) {
  .login_container .xs-left-container {
    display: block;
  }
}
.login_container .xs-left-container.xs-left-container-reg {
  display: none;
}
@media (min-width: 1200px) {
  .login_container .xs-left-container.xs-left-container-reg {
    display: block;
  }
}
.login_container .xs-left-container .level_up_container {
  background: url("../images/inlevelup.png") no-repeat;
  background-size: contain;
  height: 85%;
  position: relative;
  top: -120px;
}
.login_container .xs-left-container .level_up_container .level_up_img {
  position: absolute;
  bottom: -60px;
  left: -9px;
}
.login_container .xs-left-container .level_up_text {
  font-size: 2.1rem;
  line-height: 30px;
  letter-spacing: -0.3px;
  color: var(--bs-white);
  position: absolute;
  bottom: -140px;
}
.login_container .login_title .login_h3 {
  font-size: 2.8rem;
  line-height: 36px;
}
.login_container .login_title .heading_brdr {
  width: 260px;
}
.login_container .para_login {
  font-size: 1.06rem;
  line-height: 24px;
  letter-spacing: -0.3px;
  margin-top: 12px;
}
.login_container .login_panel {
  background: url("../../images/noise_texture.png") no-repeat;
  border: 1px solid var(--bs-light-gray);
  padding: 16px 22px;
  border-radius: 23px;
}
.login_container .login_panel .login_frm .form-label {
  margin-bottom: 13px;
  font-size: 1.06rem;
}
.login_container .login_panel .login_frm .form-control {
  color: var(--bs-white);
  box-shadow: none;
  border-color: var(--bs-white);
}
.login_container .login_panel .login_frm .form-control::focus {
  color: var(--bs-white);
}
.login_container .login_panel .login_frm .form-control::-moz-placeholder {
  color: var(--bs-placeholder);
}
.login_container .login_panel .login_frm .form-control::placeholder {
  color: var(--bs-placeholder);
}
.login_container .login_panel .login_frm .eye_panel {
  position: absolute;
  right: 15px;
  top: 6px;
}
.login_container .login_panel .login_frm .login_btn {
  background: var(--bs-primary-red);
  width: 100%;
  color: var(--bs-white);
  border-radius: 7px;
}
.login_container .login_panel .login_frm .acc_txt {
  font-size: 0.875rem;
  color: var(--bs-white);
}
.login_container .login_panel .login_frm .acc_txt .text-decoration-underline {
  text-decoration: underline;
}
.login_container .login_panel .login_frm .form-check-label {
  font-size: 0.75rem;
}
.login_container .register_for_free_panel {
  margin-top: 23px;
  text-align: center;
  padding: 10px;
  background: url("../../images/header_auth.png") no-repeat;
  background-size: cover;
  border-radius: 14px;
  border: 1px solid var(--bs-dark-gray);
}
.login_container .register_for_free_panel a {
  font-size: 0.875rem;
}
.login_container .login_heading {
  font-size: 1.18rem;
  line-height: 21px;
  letter-spacing: -0.3px;
}
.login_container .login_heading .login_title {
  font-size: 1.5rem;
  line-height: 21px;
  letter-spacing: -0.3px;
  margin-bottom: 13px;
}
.login_container .login_heading .login_para {
  font-size: 0.875rem;
  line-height: 16px;
  letter-spacing: -0.3px;
  margin-bottom: 38px;
}
@media (min-width: 576px) {
  .login_container .login_container_panel {
    margin-top: 24px;
  }
}

.checkout_container {
  max-width: 600px;
  margin: 0 auto;
}
.checkout_container .checkout_h4_title {
  font-size: 3.2rem;
  border-bottom: 1px solid var(--bs-white);
  line-height: 45px;
  padding-bottom: 20px;
}
.checkout_container .checkout_blueprint_container_right .title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  line-height: 43px;
}
.checkout_container .checkout_blueprint_container_right .checkout_text {
  color: var(--bs-Yellow);
  font-size: 1.12rem;
}
.checkout_container .checkout_blueprint_container_right .checkout_wrapper {
  gap: 10px;
}
.checkout_container .checkout_blueprint_container {
  margin: 20px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--bs-white);
}
.checkout_container .checkout_info_container {
  margin: 32px 0 0 0;
}
.checkout_container .checkout_info_container .checkout_para {
  font-size: 1rem;
  line-height: 19px;
  color: var(--bs-white);
}
.checkout_container .checkout_info_container .checkout_para .checkout_para_opt {
  margin-top: 5px;
  display: block;
}
.checkout_container .checkout_info_container .checkout_section {
  padding: 10px 16px;
  background: var(--bs-dark-gray);
}
.checkout_container .checkout_info_container .checkout_section .checkout_lbl {
  color: var(--bs-Yellow);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.checkout_container .checkout_info_container .checkout_section .checkout_btn button,
.checkout_container .checkout_info_container .checkout_section .checkout_btn input {
  background: var(--bs-dark-gray2);
  color: var(--bs-white);
}
.checkout_container .checkout_info_container .checkout_section .checkout_btn input {
  width: 39px;
  text-align: center;
  padding: 0;
  border-radius: 0;
  border: none;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}
.checkout_container .checkout_info_container .checkout_section .checkout_btn button {
  border: none;
  padding: 0 12px;
  line-height: 28px;
}
.checkout_container .checkout_info_container .input-field {
  padding: 7px 16px 8px 16px;
  border-radius: 0;
  color: var(--bs-white);
  border: 1px solid var(--bs-checkout-gray);
}
.checkout_container .checkout_info_container .input-field:focus {
  box-shadow: none;
}
.checkout_container .pay_panel {
  margin-top: 30px;
}
.checkout_container .pay_panel .pay_text {
  font-size: 1.25rem;
  line-height: 21px;
  font-weight: 600;
  box-shadow: 0px 0px 1.21px 4.82px rgba(255, 255, 255, 0.1);
}

ul {
  list-style: none;
  padding-left: 0;
}

:root {
  --bs-red: #e90202;
  --bs-primary-red: #ee3338;
  --bs-secondary-red: #ff0101;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-Yellow: #ffb800;
  --bs-blue: #179cdb;
  --bs-gray: #979797;
  --bs-light-white: #eaeaea;
  --bs-light-gray: #bfb1b1;
  --bs-dark-gray: #999;
  --bs-dark-gray-primary: #504646;
  --rgb-orange: 232, 170, 10;
  --bs-secondary-blue: #00b2ff;
  --bs-placeholder: #bcbec0;
  --bs-dark-gray: #2c2c2c;
  --bs-dark-gray2: #828282;
  --bs-checkout-gray: #e0e0e0;
}/*# sourceMappingURL=style.css.map */