.bodybuilder {
  background: url('../../images/iqbalsayed.png') no-repeat left;
  @include custom-medium-screen {
    background: url(../../images/iqbalsayed.png) no-repeat;
    width: 100%;
    background-size: cover;
  }
  .certificate_experties_top {
    p {
      font-size: 1.12rem;
      color: var(--bs-white);
    }
    .dumbell_wrap {
      margin-bottom: 80px;
    }
    .text_container {
      border: 1px solid var(--bs-dark-gray);
      padding: 59px;
      background: url('../../images/noise_texture.png') no-repeat;
      background-size: cover;
      @include border-radius(50px);
      margin-bottom: 35px;
    }
    .certification_expert_section {
      border: 1px solid var(--bs-dark-gray);
      padding: 42px;
      @include border-radius(50px);
      background: url(../images/noise_texture.png);
      background-size: cover;
      &_h4 {
        color: var(--bs-white);
      }
      .certificate_ul {
        margin-top: 16px;
        li {
          color: var(--bs-white);
          font-size: 1.06rem;
          margin-bottom: 16px;
          position: relative;
          display: flex;
          align-items: center;
          padding-left: 30px;
          &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: var(--bs-primary-red);
            left: 5px;
          }
        }
      }
      //   .certificate_right {
      //     background: url('./../../images/medal.svg') no-repeat;
      //   }
    }
  }
}
