.achieve_best {
  padding-top: 193px;
  h2 {
    font-family: 'Bank Gothic';
    font-size: 5.625rem;
    line-height: 77%;
    margin-bottom: 13px;
    font-weight: 500;
    color: var(--bs-white);
    letter-spacing: 3px;
  }
  .achieve_best_subtitle {
    color: var(--bs-white);
    font-family: 'inter';
    font-size: 27px;
    line-height: 38px;
    letter-spacing: -0.3px;
  }
  .achieve_best_para {
    font-size: 1.125rem;
    font-family: 'Calibri';
    padding: 73px 0 84px 0;
  }
  .blueprint_container {
    .card {
      @include border-radius(50px);
      border: 1px solid #fff;
      padding: 30px;
      background: url('../../images/cad_paperbackbg.png') no-repeat center;
      .img-container {
        width: 280px;
        height: 374px;
      }
      .card_heading {
        font-size: 1.313rem;
        line-height: 32px;
        color: var(--bs-white);
        padding: 21px 0 0 0;
      }
      .card_subheading {
        span {
          font-size: 0.875rem;
        }
      }
      .free_star_box {
        align-items: end;
        gap: 20px;
        padding: 12px 0 19px 0;
        .free_ship_txt {
          font-size: 0.813rem;
          font-weight: 600;
        }
      }
      .paper_strike {
        display: flex;
        gap: 14px;
        
        .paper_back_box {
          border: 1px solid rgba(var(--rgb-orange), 0.62);
          @include border-radius(10px);
          padding: 5px 13px;
          p {
            color: var(--bs-Yellow);
          }
        }
      }
    }
  }
}
