.blogdetails_container {
  .blogdetails_section {
    .blogdetails_para {
      padding: 38px 0;
      @include custom-medium-screen {
        margin-top: 38px;
        padding: 100px 0;
      }
      .title {
        font-size: 1.875rem;
        line-height: 32px;
        color: var(--bs-black);
        margin-bottom: 22px;
        @include custom-medium-screen {
          font-size: 4.68rem;
          line-height: 70px;
          margin-bottom: 80px;
        }
      }
      .para {
        font-size: 1rem;
        line-height: 26px;
        color: var(--bs-black8);
        @include custom-medium-screen {
          font-size: 0.875rem;
          line-height: 20px;
        }
      }
      .blogdetails_img {
        margin: 50px 0;
        @include custom-medium-screen {
          margin: 120px 0 100px 0;
        }
      }
      .blog_info_list {
        .blog_info_title {
          font-size: 1rem;
          line-height: 26px;
          color: var(--bs-black);
          font-weight: 400;
        }
        .blog_info_ul {
          list-style: disc;
          padding-left: 20px;
          &.blog-info-list-number {
            list-style: number;
          }
          li {
            @extend .blog_info_title;
            font-size: 0.875rem;
          }
        }
      }
      .button_action {
        margin-top: 46px;
        gap: 30px;
        @include custom-medium-screen {
          flex-direction: row;
        }
        flex-direction: column;
        .a_feedback {
          border: 1px solid var(--bs-primary-red);
          padding: 12px 25px;
          font-size: 1.125rem;
          line-height: 26px;
          color: var(--bs-black);
          @include border-radius(25px);
        }
      }
    }
  }
}
// blogs css
.blog_panel {
  background: url('../../images/blogbanner.png') no-repeat center center;
  background-size: cover;
  .blog_banner {
    width: 100%;
    height:366px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: var(--bs-white);
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0) 0%,
      rgba(153, 0, 0, 0.33) 100%
    );

    @include custom-medium-screen {
      height: calc(100vh - 80px);
      width: 416px;
    }
    .blog_heading {
      gap: 20px;

      .blog_title {
        font-size: 4.625rem;
        line-height: 85px;
        letter-spacing: -0.5px;
        font-weight: 400;
      }
      .blog_sub_title {
        font-size: 1.5rem;
        line-height: 27px;
        letter-spacing: -0.5px;
      }
      .explore_btn {
        padding: 8px 40px;
        font-size: 1.12rem;
        line-height: 14px;
        @include border-radius(8px);
        margin-bottom: 33px;
      }
    }
  }
}

.bloglist {
  .bloglist_row {
    margin-top: 45px;
    @include custom-medium-screen{
      margin-top: 123px
    }
    .blog_content {
      .title {
        font-size: 1.875rem;
        line-height: 32px;
        color: var(--bs-black);
        margin: 30px 0 12px 0;
        @include custom-medium-screen {
          font-size: 3rem;
          line-height: 50px;
          margin-bottom: 15px;
        }
      }
      .para {
        font-size: 1rem;
        line-height: 26px;
        color: var(--bs-black12);
        @include custom-medium-screen {
          font-size: 1.065rem;
          line-height: 26px;
        }
      }
      .blog_footer {
        margin-top: 40px;
      }
      .comment_wrap {
        gap: 10px;
        margin-top: 26px;
        .commentlbl {
          color: var(--bs-black);
        }
      }
    }
  }
  .loadmore_box {
    display: block;
    margin: 78px 0;
    text-align: center;
  }
  .blog_info_list {
    .blog_info_title {
      font-family: 'ABeeZee';
      font-size: 3.4rem;
      line-height: 49px;
    }
    .blog_info_ul {
      list-style-type: disc;
      padding-left: 22px;
      display: flex;
      gap: 14px;
      flex-direction: column;
      margin-bottom: 66px;
      li {
        &:first-child {
          margin-top: 28px;
        }
        font-size: 1.06rem;
        line-height: 30px;
        font-family: 'Inter';
        font-weight: 400;
        color: var(--bs-secondary-blue);
      }
    }
  }
}
