.achieve_best {
  padding-top: 20px;
  .achieve_your_best_container {
    margin-bottom: 65px;
  }
  h2 {
    font-family: 'Bank Gothic';
    font-size: 5.625rem;
    line-height: 77%;
    margin-bottom: 13px;
    font-weight: 500;
    color: var(--bs-white);
    letter-spacing: 3px;
  }
  .achieve_best_subtitle {
    color: var(--bs-white);
    font-family: 'inter';
    font-size: 27px;
    line-height: 38px;
    letter-spacing: -0.3px;
  }
  .achieve_best_para {
    font-size: 1.125rem;
    font-family: 'Calibri';
    padding: 73px 0 84px 0;
  }
  .star_img {
    width: 84px;
    height: 19px;
    display: flex;
  }
}
