.books_purchase_wrap {
  .books_purchase_wrap_box {
    // background: url(../../images/book1.png) no-repeat;
    // background-position: 50% 35%;
    // background-size: cover;
  }
  .books_purchase_banner {
    padding: 67px 40px 73px 40px;
    background: url(../../images/bgbk.png) #000 no-repeat right;
    // width: 65%;
    h5 {
      font-size: 3.563rem;
      line-height: 50px;
      margin-bottom: 40px;
    }
    .explore_txt {
      margin-top: 40px;
    }
    .explore_txt {
      line-height: 32px;
      @include border-radius(25px);
      padding: 6px 24px;
      text-decoration: none;
      background: #000;
      margin: 40px 0 74px 0;
    }
  }
  .bk_purchase_container {
    background: url('../../images/book1.png') no-repeat right;
  }
}
.nutrition_books_purchase {
  padding: 120px 0 0 0;
  .card_heading {
    font-size: 2.18rem;
    padding-top: 50px;
    line-height: 56px;
  }
  .card_subheading {
    font-size: 1.125rem;
    line-height: 37px;
    gap: 24px;
  }
  .paper_strike {
    gap: 13px;
    margin-top: 13px;
  }
  .paper_back_box {
    padding: 6px 17px;
    font-size: 1.125rem;
    line-height: 30px;
    border: 1px solid var(--bs-blue);
    @include border-radius(13px);
    color: var(--bs-blue);
  }
  .purchase_top_section {
    margin-bottom: 19px;
  }
  .purchase_bottom_section {
    .purchase_bottom_heading {
      font-size: 1.18rem;
    }
    .pur-bttm-sec {
      gap: 27px;
      margin-bottom: 57px;
    }
  }
  .purchase_footer_section {
    gap: 33px;
    &_incdes {
      gap: 12px;
    }
    .incrdecr_span,
    .count_show {
      border: 1px solid var(--bs-gray);
      @include border-radius(25px);
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .count_show {
      width: 74px;
    }
  }
}
.para_bk_pur {
  margin-top: 27px;
  p {
    color: var(--bs-light-white);
    font-size: 0.875rem;
  }
}
.divider-sec {
  margin: 30px 0 0px 0;
  .divider-outer {
    background: var(--bs-primary-red);
    height: 17px;
    width: 97px;
    @include border-radius(25px);
  }
  .divider-border {
    top: 50%;
    z-index: -1;
    transform: translate(0, -50%);
    border: 1px solid var(--bs-white);
    width: 100%;
  }
}
.slider_sec_blueprint {
  margin-top: 70px;
  .slick-track {
    width: 100% !important;
    gap: 20px;
    display: flex;
    .card {
      padding: 30px 30px 19px;
      .img-container {
        width: 100% !important;
        height: 270px !important;
      }
      .card_heading {
        line-height: 22px;
        padding: 10px 0 0 0;
      }
      .card_subheading {
        margin-top: 12px;
        margin-bottom: 0;
        gap: 12px;
      }
      .free_star_box {
        padding: 8px 0 13px 0;
      }
      .star_img {
        width: 104px;
      }
    }
  }
}
.slick-carousel-detail {
  .slick-next:before,
  .slick-prev:before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: '';
  }
  .slick-next {
    right: 35px;
    &:before {
      background: url('../../images/right.png') no-repeat;
    }
  }
  .slick-prev {
    left: 30px;
    &:before {
      background: url('../../images/right.png') no-repeat;
      transform: rotate(-180deg);
    }
  }
}
.bk_right_container {
  img {
    aspect-ratio: 25/18;
  }
}
