.goals_container {
  h3 {
    color: var(--bs-light-gray);
    font-size: 3.625rem;
    line-height: 66px;
  }
  .goals_lt {
    padding: 70px 55px;
    p {
      margin: 35px 0;
    }
  }
  .author_box_view {
    width: 973px;
    margin: 0 auto;
    max-width: 973px;
    .author_box {
      border: 1px solid var(--bs-light-white);
      background: url('../../images/noise_texture.png') no-repeat;
      @include border-radius(35px);

      .abt_author_para {
      }
      .author-bx-wrap {
        padding: 91px 51px 91px 0;
        h6 {
          font-size: 2.438rem;
          line-height: 45px;
          margin-bottom: 12px;
        }
        p {
          font-size: 0.875rem;
          line-height: 18px;
        }
      }
    }
  }
  .dumbell_box {
    position: absolute;
    right: 0;
    bottom: -194px;
  }
}
