.goals_container {
  h3 {
    color: var(--bs-light-gray);
    font-size: 3.625rem;
    line-height: 66px;
  }
  .goals_lt {
    padding: 70px 55px;
    p {
      margin: 35px 0;
    }
  }
  .author_box_view {
    width: 973px;
    margin: 0 auto;
    max-width: 973px;
    .author_box {
      border: 1px solid var(--bs-light-white);
      background: url('../../images/noise_texture.png') no-repeat;
      @include border-radius(35px);

      .author-bx-wrap {
        padding: 91px 51px 91px 0;
        h6 {
          font-size: 2.438rem;
          line-height: 45px;
          margin-bottom: 12px;
        }
        p {
          font-size: 0.875rem;
          line-height: 18px;
        }
      }
    }
  }
  .dumbell_box {
    position: absolute;
    right: 0;
    bottom: -194px;
  }
  .authbox {
    position: absolute;
    top: -21%;
    left: -152px;
    z-index: 1;
    width: 612px;
    transform: translate(0, -2%);
  }
}
.client_spotlights {
  padding: 142px 0 210px 0;
  .strength_para {
    font-size: 2.18rem;
    line-height: 53px;
    margin-bottom: 91px;
  }
  .client_spotlight_img {
    width: 939px;
    margin: 0 auto;
    max-width: 939px;
    position: relative;
    .h4_heading {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
    }
  }
  .client_spotlight_dumbell {
    position: absolute;
    height: 492px;
    width: 360px;
    top: -90px;
  }
  .spotlight_wrapper {
    .card_sportlight {
      border: 1px solid var(--bs-light-white); /* Set the border width */
      @include border-radius(36px) /* Optional: Add rounded corners */;
      padding: 33px 40px;
      margin: 89px 0 150px 0;
      h4 {
        font-size: 2.68rem;
        line-height: 48px;
        margin-bottom: 20px;
      }
      p {
        font-size: 0.875rem;
        line-height: 19px;
      }
    }
  }
}
