.goals_container {
  h3 {
    color: var(--bs-light-gray);
    font-size: 3.625rem;
    line-height: 66px;
  }
  .goals_lt {
    padding: 200px 55px 162px 55px;
    p {
      margin: 35px 0;
    }
  }
}
