body {
  background-size: unset;
}
.login_container {
  height: 100vh;

  .xs-left-container {
    display: none;
    @include custom-medium-screen {
      display: block;
    }
    &.xs-left-container-reg {
      display: none;
      @include extra-large {
        display: block;
      }
    }
    .level_up_container {
      background: url('../images/inlevelup.png') no-repeat;
      background-size: contain;
      height: 85%;
      position: relative;
      top: -120px;
      .level_up_img {
        position: absolute;
        bottom: -60px;
        left: -9px;
      }
    }
    .level_up_text {
      font-size: 2.1rem;
      line-height: 30px;
      letter-spacing: -0.3px;
      color: var(--bs-white);
      position: absolute;
      bottom: -140px;
    }
  }
  .login_title {
    .login_h3 {
      font-size: 2.8rem;
      line-height: 36px;
    }
    .heading_brdr {
      width: 260px;
    }
  }
  .para_login {
    font-size: 1.06rem;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-top: 12px;
  }
  .login_panel {
    background: url('../../images/noise_texture.png') no-repeat;
    border: 1px solid var(--bs-light-gray);
    padding: 16px 22px;
    @include border-radius(23px);
    .login_frm {
      .form-label {
        margin-bottom: 13px;
        font-size: 1.06rem;
      }
      .form-control {
        color: var(--bs-white);
        box-shadow: none;
        border-color: var(--bs-white);
        &::focus {
          color: var(--bs-white);
        }
        &::placeholder {
          color: var(--bs-placeholder);
        }
      }
      .eye_panel {
        position: absolute;
        right: 15px;
        top: 6px;
      }
      .login_btn {
        background: var(--bs-primary-red);
        width: 100%;
        color: var(--bs-white);
        @include border-radius(7px);
      }
      .acc_txt {
        font-size: 0.875rem;
        color: var(--bs-white);
        .text-decoration-underline {
          text-decoration: underline;
        }
      }
      .form-check-label {
        font-size: 0.75rem;
      }
    }
  }
  .register_for_free_panel {
    margin-top: 23px;
    text-align: center;
    padding: 10px;
    background: url('../../images/header_auth.png') no-repeat;
    background-size: cover;
    border-radius: 14px;
    border: 1px solid var(--bs-dark-gray);
    a {
      font-size: 0.875rem;
    }
  }
  .login_heading {
    font-size: 1.18rem;
    line-height: 21px;
    letter-spacing: -0.3px;
    .login_title {
      font-size: 1.5rem;
      line-height: 21px;
      letter-spacing: -0.3px;
      margin-bottom: 13px;
    }
    .login_para {
      font-size: 0.875rem;
      line-height: 16px;
      letter-spacing: -0.3px;
      margin-bottom: 38px;
    }
  }
  .login_container_panel {
    @include small-screen {
      margin-top: 24px;
    }
  }
}
