.video_consultation_wrapper {
  padding-bottom: 90px;
  @include xs-small-screen {
    padding-bottom: 50px;
  }
  .video_consultation_heading {
    font-size: 3.6rem;
    line-height: 52px;
    color: var(--bs-white);
    @include xs-small-screen {
      font-size: 2.6rem;
      line-height: 40px;
      margin-top: 20px;
    }
  }
}
.video_cons_container {
  .video_cons_desc {
    &_para {
      color: var(--bs-white);
      font-size: 0.75rem;
      line-height: 20px;
      color: var(--bs-white);
    }
  }
  .contactus_wrapper {
    margin-top: 38px;
    @include xs-small-screen{
      text-align: center;
    }
    .contactus_btn {
      padding: 10px 25px;
      font-size: 1rem;
    }
  }
  .conversation_img {
    width: 128px;
    height: 128px;
    @include xs-small-screen {
      margin: auto;
    }
  }
  .updated_list_container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 120px;
    .updates_list {
      display: flex;
      gap: 26px;
      align-items: flex-start;
      @include xs-small-screen {
        flex-direction: column;
      }
      .updates_list_wrapper {
        color: var(--bs-white);
        .title {
          font-size: 2.18rem;
          line-height: 42px;
          margin-bottom: 22px;
          @include xs-small-screen {
            line-height: 30px;
          }
        }
        .para {
          font-size: 0.813rem;
        }
      }
    }
  }
  .servicedetail_bottom_container {
    margin-top: 123px;
    color: var(--bs-white);
    .title {
      font-size: 4rem;
      line-height: 60px;
      margin-bottom: 60px;
      margin-top: 123px;
      @include xs-small-screen {
        font-size: 2.6rem;
        line-height: 47px;
      }
    }
    .para {
      font-size: 1.12rem;
      line-height: 27px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .consult_us_now {
      margin-top: 55px;
    }
  }
}
