.button {
  background: var(--bs-primary-red);
  line-height: 30px;
  text-align: center;
  padding: 6px 24px;
  display: inline-block;
  outline: none;
  border: 1px solid var(--bs-primary-red);
  min-width: fit-content;
  @include border-radius(8px);
  color: var(--bs-white);
  font-family: calibri;
  font-size: 16px;
  line-height: 29px;
  @include custom-large-screen {
    font-size: 14px;
  }
  @include extra-large {
    font-size: 16px;
  }
  &_bgtransparent {
    border: 1px solid var(--bs-primary-red);
    background: transparent;
  }
  &_rounded {
    @include border-radius(25px);
  }
  &_primary {
    background: radial-gradient(50% 50% at 50% 50%, #f37c7e 0%, #ea3f42 100%);
    padding: 10px 25px;
    box-shadow: 0px -5.72px 2.86px 0px #00000040 inset;
  }
}
.border_transparent {
  font-size: 1.2rem;
  line-height: 26px;
  border: 1px solid var(--bs-white);
  background: transparent;
  color: var(--bs-white);
  @include border-radius(25px);
  padding: 12px 25px;
  text-decoration: none;
  &:hover {
    color: var(--bs-white);
  }
}
