html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  background: url('../images/wave-red-lines-light.jpg') no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.heading_brdr {
  padding: 1px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -1.36%, #ff0000 77.38%);
  width: 48px;
}
.fontInter {
  font-family: 'Inter';
}
.fontBankGothic {
  font-family: 'Bank Gothic';
}
.fontCalibri {
  font-family: 'Calibri';
}
.fontDune {
  font-family: 'Dune Rise';
}
.fontPoppins {
  font-family: 'Poppins';
}
.fontBold {
  font-weight: bold;
}
.font600 {
  font-weight: 600;
}
.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.common_font {
  font-size: 1.125rem;
  line-height: 27px;
}
.blueprint_container {
  .card {
    @include border-radius(50px);
    border: 1px solid var(--bs-white);
    padding: 30px;
    background: url('../../images/cad_paperbackbg.png') no-repeat center;
    position: relative;
    .heart_sec {
      position: absolute;
      right: 22px;
      width: 26px;
      height: 22px;
      top: 30px;
    }
    .img-container {
      width: 280px;
      height: 374px;
    }
    .card_heading {
      font-size: 1.313rem;
      line-height: 32px;
      color: var(--bs-white);
      padding: 21px 0 0 0;
    }
    .card_subheading {
      span {
        font-size: 0.875rem;
      }
    }
    .free_star_box {
      align-items: end;
      gap: 20px;
      padding: 12px 0 19px 0;
      .free_ship_txt {
        font-size: 0.813rem;
        font-weight: 600;
      }
    }
    .paper_strike {
      display: flex;
      gap: 14px;

      .paper_back_box {
        border: 1px solid rgba(var(--rgb-orange), 0.62);
        @include border-radius(10px);
        padding: 5px 13px;
        &.paper_back_blue {
          border-color: var(--bs-blue);
          p {
            color: var(--bs-blue);
          }
        }
        p {
          color: var(--bs-Yellow);
        }
      }
    }
  }
}
.a_bgtransparent,
.a_bgtransparent_brred {
  border: 1px solid var(--bs-white);
  @include border-radius(25px);
  line-height: 26px;
  padding: 4px 22px;
  margin-top: 41px;
}
.a_bgtransparent_brred {
  border: 1px solid var(--bs-red);
  padding: 7px 22px;
}
.footer_brder {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) -1.36%,
    #ff0000 49.33%,
    rgba(0, 0, 0, 0) 100.03%
  );
  width: 100%;
  padding-top: 6px;
}
.slick-dots {
  bottom: -60px !important;
  li {
    width: 13px;
    height: 13px;
    border: 1px solid var(--bs-white);
    @include border-radius(25px);
    &.slick-active {
      button:before {
        color: var(--bs-secondary-red);
        background: var(--bs-secondary-red);
        border: 1px solid var(--bs-secondary-red);
        width: 13px;
        height: 13px;
        @include border-radius(25px);
        position: absolute;
        top: -1px;
        left: -1px;
      }
    }
  }
}
// .slick-dots li.slick-active button:before{

// }
