footer {
  background: url('../../images/footerbg.jpg') no-repeat;
  margin-top: 133px;
  .footer_section {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background: #000;
    }
    &_container {
      position: relative;
    }
    .footer_wrap {
      padding-top: 83px;
      .footer_sec {
        position: relative;
        color: var(--bs-white);
        @include medium-screen {
          margin-bottom: 30px;
        }
        h4 {
          font-size: 1.563rem;
          line-height: 34px;
          margin-bottom: 21px;
          font-family: 'Jura';
          font-weight: 500;
        }
        p {
          font-weight: 300;
        }
        ul {
          li {
            a {
              color: var(--bs-white);
              text-decoration: none;
              font-family: 'Inter';
            }
            margin-bottom: 20px;
          }
        }
      }
    }

    .social_media_ul {
      display: flex;
      gap: 22px;
    }
    .footer_lt {
      margin-bottom: 23px;
      .logo {
        padding-bottom: 40px;
        @include medium-screen {
          width: 125px;
          display: block;
          margin: 0 auto;
        }
      }
      &_para {
        font-size: 1.063rem;
        line-height: 20px;
        margin-bottom: 20px;
        font-family: 'Inter';
      }
    }
    .img-box {
      background: var(--bs-white);
      width: 25px;
      height: 25px;
    }
  }
  .stay_connected {
    ul {
      li {
        display: flex;
        gap: 10px;
        margin-bottom: 23px;
      }
    }
  }
  .footer_bottom {
    position: relative;
    padding-top: 35px;
    @include medium-screen {
      padding-top: 20px;
    }
    .exclusive_offer {
      color: var(--bs-white);
      font-size: 0.875rem;
      line-height: 20.74px;
      font-family: 'inter';
      font-weight: 300;
      padding-bottom: 28px;
      margin-bottom: 20px;
      border-bottom: 1px solid var(--bs-red);
      @include medium-screen {
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    .copy_right {
      padding: 0;
      h5 {
        font-size: 0.875rem;
        color: var(--bs-white);
        @include medium-screen {
          display: flex;
          align-items: center;
        }
      }
      ul {
        gap: 60px;
        @include medium-screen {
          gap: 10px;
        }
        li {
          font-size: 0.875rem;
          color: var(--bs-white);
          @include medium-screen {
            text-align: center;
          }
        }
      }
    }
  }
}
